In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [2]:
#Importing the dataset

df_train=pd.read_csv('train.csv')

df_new=df_train.drop(labels=['Ticket','Cabin','Embarked','Name'], axis=1)
#print(df_new.head(4))

In [3]:
df_new1=df_new.fillna(method='ffill',axis=0)
#print(df_new1)

In [5]:
#print(df_new1.Sex)
gender = {'male': 1,'female': 2}
df_new1.Sex=[gender[item] for item in df_new1.Sex]


print(df_new1)

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch      Fare
0              1         0       3    1  22.0      1      0    7.2500
1              2         1       1    2  38.0      1      0   71.2833
2              3         1       3    2  26.0      0      0    7.9250
3              4         1       1    2  35.0      1      0   53.1000
4              5         0       3    1  35.0      0      0    8.0500
5              6         0       3    1   0.0      0      0    8.4583
6              7         0       1    1  54.0      0      0   51.8625
7              8         0       3    1   2.0      3      1   21.0750
8              9         1       3    2  27.0      0      2   11.1333
9             10         1       2    2  14.0      1      0   30.0708
10            11         1       3    2   4.0      1      1   16.7000
11            12         1       1    2  58.0      0      0   26.5500
12            13         0       3    1  20.0      0      0    8.0500
13            14         0       3    1  39.0      1      5   31.2750
14            15         0       3    2  14.0      0      0    7.8542
15            16         1       2    2  55.0      0      0   16.0000
16            17         0       3    1   2.0      4      1   29.1250
17            18         1       2    1   0.0      0      0   13.0000
18            19         0       3    2  31.0      1      0   18.0000
19            20         1       3    2  31.0      0      0    7.2250
20            21         0       2    1  35.0      0      0   26.0000
21            22         1       2    1  34.0      0      0   13.0000
22            23         1       3    2  15.0      0      0    8.0292
23            24         1       1    1  28.0      0      0   35.5000
24            25         0       3    2   8.0      3      1   21.0750
25            26         1       3    2  38.0      1      5   31.3875
26            27         0       3    1  38.0      0      0    7.2250
27            28         0       1    1  19.0      3      2  263.0000
28            29         1       3    2  19.0      0      0    7.8792
29            30         0       3    1  19.0      0      0    7.8958
..           ...       ...     ...  ...   ...    ...    ...       ...
861          862         0       2    1  21.0      1      0   11.5000
862          863         1       1    2  48.0      0      0   25.9292
863          864         0       3    2  48.0      8      2   69.5500
864          865         0       2    1  24.0      0      0   13.0000
865          866         1       2    2  42.0      0      0   13.0000
866          867         1       2    2  27.0      1      0   13.8583
867          868         0       1    1  31.0      0      0   50.4958
868          869         0       3    1  31.0      0      0    9.5000
869          870         1       3    1   4.0      1      1   11.1333
870          871         0       3    1  26.0      0      0    7.8958
871          872         1       1    2  47.0      1      1   52.5542
872          873         0       1    1  33.0      0      0    5.0000
873          874         0       3    1  47.0      0      0    9.0000
874          875         1       2    2  28.0      1      0   24.0000
875          876         1       3    2  15.0      0      0    7.2250
876          877         0       3    1  20.0      0      0    9.8458
877          878         0       3    1  19.0      0      0    7.8958
878          879         0       3    1  19.0      0      0    7.8958
879          880         1       1    2  56.0      0      1   83.1583
880          881         1       2    2  25.0      0      1   26.0000
881          882         0       3    1  33.0      0      0    7.8958
882          883         0       3    2  22.0      0      0   10.5167
883          884         0       2    1  28.0      0      0   10.5000
884          885         0       3    1  25.0      0      0    7.0500
885          886         0       3    2  39.0      0      5   29.1250
886          887         0       2    1  27.0      0      0   13.0000
887          888         1       1    2  19.0      0      0   30.0000
888          889         0       3    2  19.0      1      2   23.4500
889          890         1       1    1  26.0      0      0   30.0000
890          891         0       3    1  32.0      0      0    7.7500

[891 rows x 8 columns]

In [11]:
#Making the data worthy of the Decision tree

train_label=df_new1.Survived
#print(train_label)

#conti_features=['Age','SibSp','Parch','Fare','Pclass']
#Categorical_features=['Sex']

#Data conversion
#continuous_features=[tf.feature_column.numeric_column(k) for k in conti_features]

#print(continuous_features)
#Converting categorical features


#print(train_data.head(4))
#Categorical_features=['Sex']


#feature_columns=continuous_features+Categorical_features

In [24]:
df_train=df_new1[['Pclass','Sex','Age','SibSp','Parch','Fare']]
#print(df_train)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_train, train_label, test_size = 0.3, random_state = 100)

In [29]:
print(y_train)

69     0
85     1
794    0
161    1
815    0
516    1
299    1
454    0
59     0
879    1
42     0
499    0
235    0
254    0
345    1
104    0
315    1
872    0
3      1
804    1
224    1
771    0
538    0
248    1
31     1
267    1
543    1
684    0
607    1
748    0
      ..
612    1
723    0
757    0
141    1
415    0
667    0
386    0
86     0
93     0
649    1
507    1
570    1
316    1
228    0
655    0
280    0
752    0
802    1
526    1
738    0
578    0
53     1
866    1
350    0
79     1
855    1
871    1
835    1
792    0
520    1
Name: Survived, Length: 623, dtype: int64

In [25]:
#Defining the input function

def get_input_fn(data_set, num_epochs=None, n_batch = 128, shuffle=True):
    return tf.estimator.inputs.pandas_input_fn(
       x=pd.DataFrame({k: data_set[k].values for k in feature_columns}),
       y = pd.Series(data_set[LABEL].values),
       batch_size=n_batch,   
       num_epochs=num_epochs,
       shuffle=shuffle)

In [31]:
#Training the classifier
classifier=DecisionTreeClassifier(criterion="gini",random_state=100,max_depth=3)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [20]:
df_test=pd.read_csv('test.csv')
df_test=df_test.drop(labels=['Ticket','Cabin','Embarked','Name'], axis=1)
gender = {'male': 1,'female': 2}
df_test.Sex=[gender[item] for item in df_test.Sex]

In [22]:
df_test=df_test.fillna(method='ffill',axis=0)
print(df_test)

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
0            892       3    1  34.5      0      0    7.8292
1            893       3    2  47.0      1      0    7.0000
2            894       2    1  62.0      0      0    9.6875
3            895       3    1  27.0      0      0    8.6625
4            896       3    2  22.0      1      1   12.2875
5            897       3    1  14.0      0      0    9.2250
6            898       3    2  30.0      0      0    7.6292
7            899       2    1  26.0      1      1   29.0000
8            900       3    2  18.0      0      0    7.2292
9            901       3    1  21.0      2      0   24.1500
10           902       3    1  21.0      0      0    7.8958
11           903       1    1  46.0      0      0   26.0000
12           904       1    2  23.0      1      0   82.2667
13           905       2    1  63.0      1      0   26.0000
14           906       1    2  47.0      1      0   61.1750
15           907       2    2  24.0      1      0   27.7208
16           908       2    1  35.0      0      0   12.3500
17           909       3    1  21.0      0      0    7.2250
18           910       3    2  27.0      1      0    7.9250
19           911       3    2  45.0      0      0    7.2250
20           912       1    1  55.0      1      0   59.4000
21           913       3    1   9.0      0      1    3.1708
22           914       1    2   9.0      0      0   31.6833
23           915       1    1  21.0      0      1   61.3792
24           916       1    2  48.0      1      3  262.3750
25           917       3    1  50.0      1      0   14.5000
26           918       1    2  22.0      0      1   61.9792
27           919       3    1  22.5      0      0    7.2250
28           920       1    1  41.0      0      0   30.5000
29           921       3    1  41.0      2      0   21.6792
..           ...     ...  ...   ...    ...    ...       ...
388         1280       3    1  21.0      0      0    7.7500
389         1281       3    1   6.0      3      1   21.0750
390         1282       1    1  23.0      0      0   93.5000
391         1283       1    2  51.0      0      1   39.4000
392         1284       3    1  13.0      0      2   20.2500
393         1285       2    1  47.0      0      0   10.5000
394         1286       3    1  29.0      3      1   22.0250
395         1287       1    2  18.0      1      0   60.0000
396         1288       3    1  24.0      0      0    7.2500
397         1289       1    2  48.0      1      1   79.2000
398         1290       3    1  22.0      0      0    7.7750
399         1291       3    1  31.0      0      0    7.7333
400         1292       1    2  30.0      0      0  164.8667
401         1293       2    1  38.0      1      0   21.0000
402         1294       1    2  22.0      0      1   59.4000
403         1295       1    1  17.0      0      0   47.1000
404         1296       1    1  43.0      1      0   27.7208
405         1297       2    1  20.0      0      0   13.8625
406         1298       2    1  23.0      1      0   10.5000
407         1299       1    1  50.0      1      1  211.5000
408         1300       3    2  50.0      0      0    7.7208
409         1301       3    2   3.0      1      1   13.7750
410         1302       3    2   3.0      0      0    7.7500
411         1303       1    2  37.0      1      0   90.0000
412         1304       3    2  28.0      0      0    7.7750
413         1305       3    1  28.0      0      0    8.0500
414         1306       1    2  39.0      0      0  108.9000
415         1307       3    1  38.5      0      0    7.2500
416         1308       3    1  38.5      0      0    8.0500
417         1309       3    1  38.5      1      1   22.3583

[418 rows x 7 columns]

In [32]:
y_pred=classifier.predict(X_test)

In [33]:
print(y_pred)

[1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0 1 0 1
 1 1 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 1
 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 0 1 1 1 1 0 1 0 0 0 1 0 1 0 1 1 0 0
 0 0 1 1 0 0 0 0 1 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 1 0 0 0 0 1 1
 0 1 1 0 0 1 0 1 0 1 1 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 1 0 0 1 0 0 0 1 0 0
 0 0 0 1 1 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 1
 1 0 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0
 0 1 1 0 1 1 0 1 0]

In [35]:
print(accuracy_score(y_test,y_pred)*100)

78.73134328358209

In [36]:
df_test1=df_test[['Pclass','Sex','Age','SibSp','Parch','Fare']]

In [43]:
y_pred_test=classifier.predict(df_test1)
print(y_pred_test[0:6])

[0 1 0 0 1 0]